
/*COLOR PALETTE:
Color.adobe.com/explore

*Primary*
crimson: #722
Yellowey: #544343
Greyish?: #fdd7b4

*Secondary*
Medium Green: #dcdcdc
unknown: #655
*/

/*FONT TYPEFACES:
Type-scale.com

font-family: 'Abril Fatface', cursive;
font-family: 'Antic Didone', serif;
font-family: 'GFS Didot', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Bentham', serif;
*/

/*VERTICAL SPACING:
http://basehold.it/32
*/

/*LETTER SPACING
letter-spacing: -0.03em;
*/


/*Transitions:*/

* {
    transition: all 0.35s ease;
}

/* Basic Elements */
h1, button {
	font-family: 'Abril Fatface' !important;
	color: #dcdcdc !important;
	text-shadow: 2px 2px 3px rgba(20,20,20,.7);
	font-size: 8.55em !important;
    letter-spacing: -0.03em;
	
}

h2, li, p {
	font-family: 'Antic Didone', serif !important;
}
p {
    font-weight: 800 !important;
}

body, h3, h4, h5 {
	font-family: 'GFS Didot', serif !important;
    letter-spacing: -0.03em;

}

button, a {
	font-family: 'Josefin Sans', sans-serif !important;
}
.row > div > p > a {
	font-size: 1.15em !important;
	font-weight:600;
	color: #722
}

strong {
	color: #080808;
	text-shadow: 3px 3px 10px #666;

}

.jumbotron {
	  background: url(img/6.jpeg) center 100%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0;
}

.jumbotron h1 {
	margin-top: .4em;
	padding-top:.4em;
    margin-bottom: .7em;
}

.shady-color {
	color: #dcdddc;
	font-size: 1.15em
}

.em-color {
	color: #722;
	font-size: .8em
}
.it-color {
	color: #722;
	font-style: italic;
	text-shadow: 2px 2px 9px #cecece !important;
}
.underlined {
	text-decoration: underline
}

.row-head {
	color: #822;
	text-shadow: 2px 2px 9px #cecece !important;
	font-size: 2.65em;
	font-weight:600;
}

h2.row-head {
    font-variant: small-caps !important;
}

.menu {
    z-index: 1;
}

.nav ul {
    *zoom:1;
    list-style:none;
    margin:0;
    padding:1% auto;
    background:#655;
    background-color: rgba(161,76,43,.89);

}

.nav ul:before,.nav ul:after {
    content:"";
    display:table;
}
.nav ul:after {
    clear:both;
}
.nav ul > li {
    float:left;
    position:relative;
}
.nav a {
    display:block;
    padding:10px 20px;
    line-height:2.3em;
    color:#fff;
    /*border-left:1px solid #595959;*/
}
.nav a:hover {
    text-decoration:none;
    background:#722;
}
.nav li ul {
    background:#722;
}
.nav li ul li {
    width:200px;
}
.nav li ul a {
    border:none;
}
.nav li ul a:hover {
    background:rgba(0,0,0,0.2);
}

.nav li ul {
    position:absolute;
    left:-9999em;
    top:36px;
    z-index:1;
}
.nav ul > li:hover ul {
    left:0;
}
.nav li ul {
    position:absolute;
    left:0;
    top:36px;
    z-index:1;
    visibility:hidden;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:200ms ease;
    -moz-transition:200ms ease;
    -o-transition:200ms ease;
    transition:200ms ease;
}
.nav ul > li:hover ul {
    visibility:visible;
    opacity:1;
    filter:alpha(opacity=100);
}

.nav li ul {
    position:absolute;
    left:0;
    top:36px;
    z-index:1;
    max-height:0;
    overflow:hidden;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    -webkit-transition:350ms;
    -moz-transition:350ms;
    -o-transition:350ms;
    transition:350ms;
}
.nav ul > li:hover ul {
    max-height:1000px;
    -webkit-transform:perspective(400) rotate3d(0,0,0,0);
}


.menu {
    color:#FFF;
    height:2em;
    position:absolute;
    width:100%;
}
.fixed {
    position:fixed;
    top:0;
}


.btn-lg {
	background-color: #822;
	border: #fff;
}



nav a {
font-family: 'GFS Didot', serif,  !important;
font-size: 1.37em;
font-weight: 200;
}
.inline {
	display: inline;
}

.second-p {
	background: #fdd7b4 !important;
	margin-top: 0;
	margin-bottom: 2.5em;
	border: 2px solid black;
	border-top: 1px solid black;
    font-weight: 800 !important;
	/*	border:15px solid transparent;
    	border-image: url(img/border.png) 30 30 round;*/
}

.intro-jumbo {/*
	border: 2px solid black;
		border:30px solid transparent;
    	border-image: url(img/border.png) 30 30 round;*/
}

.btn:hover {
	background:#fdd7b4;
}









/*Type-scale.com*/

/*Set to Perfect 4th*/
html {font-size: 1.563em;}

body {
  background-color: white;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
	margin-bottom: 1.3em;
line-height: 1.7em;
font-weight: 800 !important;
}

h1, h2, h3, h4 {
  /*margin: 1.414em 0 0.5em;*/
  font-weight: inherit;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}




.intro-jumbo {
	text-align: center;
	margin: 0 auto;
    text-align: center;
    max-width: 28rem;
}


.black-bg {
background-color: #544343;
color:#fff;
}
.black-bg h3,
body > div.container > div:nth-child(5) > div > div.col-md-8 > div > div h3,
body > div.container > div:nth-child(5) > div > div.col-md-8 > div > div h4 {
font-family: 'Antic Didone', serif !important;
}

div.row > div.black-bg > p > a {
color:#fff;
background: #fdd7b4;

}
footer {
	padding:5%;
    background-color: rgba(161,76,43,.8);
    max-width: 100%;
    margin: 1% auto 0;
    color: #fff;
    font-size: 1.05em
}

footer i {
    padding:1% 1.25% 1% 0;
    color: #fff;
}
footer a {
    margin: 1% .8% 0 0;
}

* {
    text-decoration: none !important
}

#large-bg {
	background-color: #722;
	padding:.5% 40%;
}

#large-bg2 {
	background-color: #722;
	padding:.5% 20%;
}

.float-right {
	float: right !important;
}

div.container > div.row > div > p > a,
p.float-right > a,
body > div.container > div:nth-child(5) > 
div > div.col-md-8 > div > div > p > a  {
	background: #fdd7b4
}
div.container > div.row > div > p > a:hover,
p.float-right > a:hover,
div.col-md-4.black-bg > p  a:hover,
body > div.container > div:nth-child(5) > 
div > div.col-md-8 > div > div > p > a:hover  {
	background-color: #5ECDC5;
	color: #fdd7b4
}

body > div:nth-child(2) > div > p > a:hover {
 color: #222   
}

.rounded-img {
    border-radius: 60%;
    border:5px solid #fdd7b4;
    max-width: 100%;
}

.smallcaps {
    font-variant: small-caps !important
}

.dropcap {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 2.95em;
  line-height: 30px;
  padding-top: 6px;
  padding-right: 8px;
  padding-left: 3px;
}


/*MEDIA QUERIES*/


/*Tablet*/
@media only screen and (max-width : 1024px) {

    .container {
        width: 85%
    }

    .jumbotron h1 {
     padding-top: .4em; 
    font-size: 6.8em !important;

}


}

/*iPhone*/
@media only screen and (max-width: 480px) {

.jumbotron h1 {
     padding-top: .4em; 
    font-size: 5.3em !important;
    padding-bottom: .4em

}

body > div.jumbotron.second-p > div > div > p {
    font-size: 1.25em !important;
    padding: 1% 4%;
}

div.row > div.black-bg > p > a {
    margin-bottom: 5% !important;
}

.container {
    width: 95%
}

    }







/*Navbar Collapse Styles*/

i.glyphicon {
    font-size: 4em;
  color:   rgba(150,150,100,.95)

}


.navbar-toggle {
  background-color: #ddd
}

.caret {
  background-color: transparent;
  text-shadow: 1px 1px 5px black;
  color: white
}

.dropdown-menu {
  background-color: rgba(150,150,100,.95);
}


